NEO4J User Story - 2 :- As a Business Development Manager, I need to know the customer satisfaction of a given prodcut in different Market segments. I have a product, I want the average Ratings for that mobile.

Hint :- Please dont forget to start "Complaints & Review Graph" in Neo4J

In [7]:
############################ Importing All Libreries & collecting input ################################
from py2neo import Graph,Node,Relationship
import pandas as pd
import ipywidgets as ipw
import matplotlib.pyplot as plt
import matplotlib
%matplotlib qt
df = pd.read_excel("IDs.xlsx")
g = Graph()
i = ipw.Dropdown(
    options=list(df["Mobile Names_Neo4J"].dropna()),
    description = "Select Mobile - ", )
i

Dropdown(description='Select Mobile - ', options=('NONE', 'Samsung C3500 Monte Bar', 'Samsung Intercept', 'Samâ€¦

In [8]:
############################ Importing All Libreries & collecting input ################################
input = i.value
input

'Samsung Z4'

In [9]:
########################################## Neo4J Query ###########################################
q = '''MATCH (ra:Rating)<-[:RATING_DETAILS]-(r:Review)-[:REVIEW_ORDER]->(o:Order)-[:PURCHASED_DETAILS]->(m:Mobile)
MATCH (o)-[:MANUFACTURED_BY]->(:Manufacturer)-[:LOCATED_IN]->(c:Country)
WHERE m.Mobile_Name = "''' + input + '''" AND c.Country = "Germany"//"''' + input + '''"
WITH apoc.number.exact.toFloat(toString(AVG(toFloat(ra.Rating))),3,'CEILING') AS num
RETURN ["Germany" , num ] AS result

UNION ALL

MATCH (ra:Rating)<-[:RATING_DETAILS]-(r:Review)-[:REVIEW_ORDER]->(o:Order)-[:PURCHASED_DETAILS]->(m:Mobile)
MATCH (o)-[:MANUFACTURED_BY]->(:Manufacturer)-[:LOCATED_IN]->(c:Country)
WHERE m.Mobile_Name = "''' + input + '''" AND c.Country = "Spain"//"''' + input + '''"
WITH apoc.number.exact.toFloat(toString(AVG(toFloat(ra.Rating))),3,'CEILING') AS num
RETURN ["Spain" , num ] AS result

UNION ALL

MATCH (ra:Rating)<-[:RATING_DETAILS]-(r:Review)-[:REVIEW_ORDER]->(o:Order)-[:PURCHASED_DETAILS]->(m:Mobile)
MATCH (o)-[:MANUFACTURED_BY]->(:Manufacturer)-[:LOCATED_IN]->(c:Country)
WHERE m.Mobile_Name = "''' + input + '''" AND c.Country = "USA"//"''' + input + '''"
WITH apoc.number.exact.toFloat(toString(AVG(toFloat(ra.Rating))),3,'CEILING') AS num
RETURN ["USA" , num ] AS result

'''

In [10]:
##########################Passing query to Neo4J & getting results #######################################
df = g.run(q).to_data_frame()
df

            result
0  [Germany, 1.99]
1    [Spain, 9.02]
2       [USA, 5.0]

In [11]:
####################################### Visulizing the results ####################################################
xs = []
ys = []
for i in df['result']:
    xs.append(i[0])
    ys.append(i[1])
plt.bar(xs, ys,align='center',width=0.5)
plt.title(' The Average review ratings given for "' + input  + '  " in all Market segments' )

Text(0.5, 1.0, ' The Average review ratings given for "Samsung Z4  " in all Market segments')